@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../background.jpeg);
    background-size: cover;
}
.contenedor{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}
.contenedorControl{
	display: flex; 
	justify-content: space-between;    
	background-color: #d81b60;
	color: #fafafa;
	text-shadow: 1px 1px #424242, 1px -1px #424242, -1px -1px #424242, -1px 1px #424242;
	font-family: 'Pacifico', cursive;
	width: 524px; 
	border: 3px solid white;
    	border-radius: 10px;
    	padding: 10px;
	margin-top: 30px;   
	margin-bottom: 10px;
}
.botonControl{
	background-color: #d81b60;
	color: #fafafa;
	border: none;
}
.contenedorPuntaje{
	display: flex;
	flex-direction: row;   
	justify-content: space-between;
	width: 50%;
	padding: 5px;
}
.contenedorTiempo {
	display: flex; 	
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #d81b60;
	color: #fafafa;
	text-shadow: 1px 1px #424242, 1px -1px #424242, -1px -1px #424242, -1px 1px #424242;
	font-family: 'Pacifico', cursive;
	width: 100px; 
	border: 3px solid white;
    	border-radius: 10px;
    	padding: 10px;
	margin-top: 10px;	
}
.grilla{
    width: 504px;
    height: 504px;
    position: relative;
}
.contenedorGrilla{
    background-color: black;
    opacity: 0.8;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
}
.estiloLetras{
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px #fafafa, 1px -1px #fafafa, -1px -1px #fafafa, -1px 1px #fafafa;
    color: #d81b60;
    font-weight: 800;
}

.seleccion-celda{
    border: 1px solid #fff;
}