@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	
}
.contenedorControl{
	display: flex; 
	justify-content: space-between;    
	background-color: #d81b60;
	color: #fafafa;
	text-shadow: 1px 1px #424242, 1px -1px #424242, -1px -1px #424242, -1px 1px #424242;
	font-family: 'Pacifico', cursive;
	font-size: 18px;
	width: 526px; 
	border: 3px solid white;
    	border-radius: 10px;
    	padding: 5px 10px;
	margin-top: 30px;   
	margin-bottom: 10px;
}
.botonControl{
	background-color: #d81b60;
	color: #fafafa;
	font-size: 20px;
	border: none;
}
.contenedorPuntaje{
	display: flex;
	flex-direction: row;   
	justify-content: space-between;
	width: 50%;
}
.contenedorTiempo {
	display: flex; 	
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #d81b60;
	color: #fafafa;
	text-shadow: 1px 1px #424242, 1px -1px #424242, -1px -1px #424242, -1px 1px #424242;
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	width: 120px; 
	border: 3px solid white;
    	border-radius: 10px;
    	padding: 5px 15px;
	margin-top: 10px;	
}
.grilla{
    width: 504px;
    height: 504px;
    position: relative;
}
.contenedorGrilla{
    background-color: black;
    opacity: 0.8;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.estiloLetras{
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px #fafafa, 1px -1px #fafafa, -1px -1px #fafafa, -1px 1px #fafafa;
    color: #d81b60;
    font-weight: 800;
}

.seleccion-celda{
    border: 1px solid #fff;
}

.swal-modal{
	background-color: rgb(247, 244, 244);
	color: black;
	font-family: 'Montserrat', sans-serif;		
}
.swal-button{
	padding: 7px 19px;
	border-radius: 5px;
	background-color: #d81b60;
	font-size: 12px;
	border: 1px solid rgb(230, 228, 228);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);			
}
.swal-button:focus {
	box-shadow: none;	
}
.swal-button:hover{
	background-color: #c30f51 !important;
}
.swal-button--cancel{
	background-color: rgb(218, 213, 213);
	color: rgb(20, 20, 20);
}
.swal-button--cancel:hover{
	background-color:rgb(199, 193, 193) !important;
}
.swal-footer {
	background-color: rgb(245, 248, 250);
	margin-top: 32px;
	border-top: 1px solid #f0f5f8;
	overflow: hidden;
}
